// @imports
@import 'compass/css3/transform';
@import "compass/css3/transition";
@import "compass/css3/images";

@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'grid';

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

// Common elements
h1 { font-family: 'Montserrat'; font-size:48px; text-transform: uppercase; letter-spacing: 0.4em; }

a  {
  color: #e6e6e6; @include transition(all 180ms ease-in);
  &:hover { color: #fff; text-decoration: none; opacity: 1; }
}

.full.container { width:100%; }


body { background: #2c2c2c; overflow-x: hidden; }

body > nav {
  position: fixed; top: 0; left: 0; width: 240px; background: #333; overflow:hidden;

  header {
    height: 80px; overflow:hidden;
    font-family:'Montserrat'; font-size: 20px; text-transform: uppercase;
    line-height: 0.9; letter-spacing: 0.15em; padding:15px 10px 10px; margin-bottom:5px;
    color: RGBA(255,255,255,0.5); background: #3d3d3d; border-bottom: #111;
  }
  ul { list-style-type: none; padding:0; margin:0; }
  li {
    font-family:'montserrat'; font-size: 16px; text-transform: uppercase;
    border-bottom:1px solid #3a3a3a;border-top:1px solid #2a2a2a;
    a {
      display: block; padding: 11px 15px 9px; letter-spacing: 0.05em;
      border-left: 6px solid #2d2d2d; opacity: 0.75;

      &:hover { opacity:0.85; background:#3a3a3a; border-color:RGBA(0,255,185,0.5); }
    }
  }
  .fa { display:inline-block; width: 16px; margin-right: 10px; text-align: center; }
}



#site-header {
  position:fixed; top:0; left:0; z-index:100; width:100%;
  @include transform(translate3d(0, 0, 0));
  @include transition(all 360ms ease-in-out);
  &.menu-open { @include transform(translate3d(240px, 0, 0)); }

  h1 { width:480px; margin:13px 0 13px 47px; font-size:24px; letter-spacing: 0.2em; }
  sub { bottom:0; }

  #menu-ctrl {
    float: left; position: relative; top: -2px; padding: 0 15px 0 0; margin: 13px 13px 0;
    cursor: pointer; font-size: 21px; opacity: 0.75; border-right: 1px solid #7b7b7b;

    &:hover { opacity:1; }
  }

  .fa { position:relative; text-shadow: 0 -1px 0 RGBA(0,0,0,0.75); }

  aside {
    position:absolute; top:0; right:0; width:50%; margin: 13px 18px 0 0;
    ul { list-style-type: none; padding:0; margin:0; text-align: right; }
    li { display: inline; font-size: 21px; padding-left: 6px;
      a { opacity: 0.75; &:hover { opacity:1; } }
    }

    .fa-linkedin        { top:-2px; }
    .fa-twitter         { top:-1px; }
    .fa-dribbble        { top:-1px; }
    .fa-github          { top:-1px; }
    .fa-stack-overflow  { top:-3px; }

  }
}


// Page-wrap (req for off canvas menu)
#root  {
  position: absolute; top: 0; left: 0; width:100%; background: #666; z-index:10;
  @include box-shadow(-5px 0 24px RGBA(0, 0, 0, 0.5));
  @include transform(translate3d(0, 0, 0));
  @include transition(all 360ms ease-in-out);
  &.menu-open { @include transform(translate3d(240px, 0, 0)); }

  video { width:100%; max-width:100%; z-index:11; }
  .overlay {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 15;
    background: rgba(50,50,50,0.8);
  }

}

#headline {
  .text-wrap {
    width:780px;overflow:hidden; position:absolute; left:10%; top:50%; margin-top:-128px; z-index:20;
    h1 {
      width: 880px; color:RGBA(255,255,255,0.47); position:relative; left: -3px; font-size: 55px;
      border-bottom: 1px solid RGBA(255,255,255,0.13); padding-bottom: 5px; margin-bottom: 12px;
    }
    span {
      font-family: 'Raleway'; text-transform: uppercase; color: RGBA(255,255,255,0.8);
      font-size: 17px; letter-spacing: 0.1em;
      &:nth-child(3) { padding: 0 28px; }
    }
    p {
      font-family:'Lusitana'; font-size:20px; color: RGBA(222,222,222,0.67);
      margin-top:20px; line-height: 1.67
    }
  }
}
