<!-- Background Video -->
<div class="background" du-parallax y="background"><img src="video/test-06.jpg"></div>
<video autoplay="autoplay" class="masthead-video" loop="loop" poster="{{ poster }}" du-parallax y="background">
  <source ng-repeat="video in videos" src="{{ video.src }}">
</video>
<div class="overlay"></div>

<!-- Foreground Content -->
<div class="text-wrap">
  <h1>Michael Patten</h1>
  <span>User Experience</span>
  <span>Responsive Design</span>
  <span>Interaction & UI Development</span>
  <br>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
</div>